// docker settings
docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'

params {

        // path where output is stored
        outPath="$baseDir"
        // path to pipeline running reports
        tracedir = "${params.outPath}/pipeline_info"
        // path to fastq files
        bamPath=false
        // name selector
        exprName = '*dupmark.bam'
        // name selector
        exprIdxName = '*dupmark.bam.bai'

}
